<div class="container">
  <div class="parent">
    <%= image_tag "32787840.jpg",class: "top-img" %>

    <div class="box">
      <p>ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。</p>
    </div>
  </div>

  <h2>新着商品</h2>
  <div class="row">
    <% @items.each do |item| %>
    <div style="width:25%">
      <%= link_to item_path(item.id) do %>
        <%= image_tag item.get_image(150,150),size: "150x150" %>
        <% end %><br>
      <%= item.name %><br>
      <%= item.price %><br>
    </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-10"></div>
    <%= link_to "すべての商品を見る",items_path %>
  </div>
</div>
