<div class="container">
  <div class="row">
    <h2><%= @customer.fullname %>さんの会員詳細</h2>
  </div>

  <div class="row">
    <div class="col-2">
      会員ID
    </div>
    <div class="col-10">
      <%= @customer.id %>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      氏名
    </div>
    <div class="col-10">
      <%= @customer.first_name %>
      <%= @customer.last_name %>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      フリガナ
    </div>
    <div class="col-10">
      <%= @customer.first_name_kana %>
      <%= @customer.last_name_kana %>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      郵便番号
    </div>
    <div class="col-10">
      <%= @customer.postal_code %>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      住所
    </div>
    <div class="col-10">
      <%= @customer.address %>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      電話番号
    </div>
    <div class="col-10">
      <%= @customer.telephone_number %>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      メールアドレス
    </div>
    <div class="col-10">
      <%= @customer.email %>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <%= link_to "編集する",edit_admin_customer_path(@customer.id), class: "btn btn-success" %>
    </div>
    <div class="col-3">
      <%= link_to "注文履歴一覧を見る",orders_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>