<h2>注文情報確認</h2>
<% @cart_items.each do |cart_item| %>
<table class="table">
  <thead>
    <tr>
      <th>商品名</th>
    </tr>
    <tr>
      <th>単価（税込）</th>
    </tr>
    <tr>
      <th>数量</th>
    </tr>
    <tr>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= image_tag cart_item.item.get_image(100,100) %></td>
      <td><%= cart_item.item.name %></td>
    </tr>
    <tr>
      <td><%= cart_item.item.taxprice %></td>
    </tr>
    <tr>
      <td><%= cart_item.amount %></td>
    </tr>
    <tr>
      <td><%= cart_item.subtotal %></td>
    </tr>
  </tbody>
</table>
<% @total+=cart_item.subtotal %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>送料</th>
    </tr>
    <tr>
      <th>商品合計</th>
    </tr>
    <tr>
      <th>請求金額</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @order.postage %> </td>
    </tr>
    <tr>
      <td><%= @total %></td>
    </tr>
    <tr>
      <td><%= @order.postage+@total %></td>
    </tr>
  </tbody>
</table>

<h3>支払い方法</h3>
<%= @order.method_of_payment_i18n %>


<h3>お届け先</h3>
<%= @order.shipping_postal_code + @order.shipping_address + @order.shipping_name %>

<%= link_to "注文を確定する",thanks_path %>