<table class="table">
  <tbody>
    <tr>
      <td><%= image_tag @item.get_image(300,300) %></td>
    </tr>
    <tr>
      <td><%= @item.name %></td>
    </tr>
    <tr>
      <td><%= @item.introduction %></td>
    </tr>
    <tr>
      <td><%= @item.taxprice %>(税込)</td>
    </tr>
    <tr>
      <td class="form-group">
      <%= form_with model: @cart_item, url: cart_items_path do |f| %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.select :amount, *[1..5] %>
        <%= f.submit "カートに入れる"%>
      <% end %>
      </td>

    </tr>
  </tbody>
</table>